<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "../static/main.css">
</head>
<body>
	<form method = 'POST' action = '/add_member'>
		<p>First Name:<input type = "text" placeholder="First Name" id = "first_name"></p>
		<p>Last Name:<input type = "text" placeholder = "Last Name" id = "last_name"></p>
		<p>Email:<input type = "text" placeholder = "Email" id = "email"></p>
		<p>Password:<input type = "text" placeholder = "Password" id ="password"></p>
		<p>Confirm Password: <input type = "text" placeholder = "Confirm Password" id = "confirm_password"></p>
		<input type = 'submit' value = 'Submit'>
	</form>
</body>
</html>